*{
	margin: 0px;
	padding: 0px;
	text-align: justify;
    color: #656e74;
}
body{
	font-family: helvetica;
	font-size: 13px;
}
/*header*/
.header{
	background-color:rgba(6,32,81,0.9);
	padding: 0px 5px;
	color: #fff;
	position: absolute;
	z-index:5;
	width:100%;
	color: #fff;
}

/*navigation*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
}
.banner img{
	width: 100%;
}

.navbar-default .navbar-nav > li > a {

    color: white;
    padding-right: 30px;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}
.navbar-default .navbar-nav > li > a:active{
	color: #710409;
}
/*hr*/
hr { 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #062051;
    margin-top: 10px;
}




/*latest news*/
.latest{
	color: #062051;
	font-weight:400px;
	font-size: 24px;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

.Read-more {
    margin-top:10px;
    margin-bottom:15px;
}
.Read-more a {
    border:2px solid #f33;
    color:#000;
    padding:10px 15px;
    text-decoration:none;
    position:relative;
    letter-spacing:6px;
    transition:all 0.6s;
    /*z-index:1;*/
}
.Read-more a:before,
.Read-more a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:24px;
    height:4px;
    background:#f33;
    margin-left:-12px;
    margin-top:-2px;
    transition:all 0.6s;
}
.Read-more a:after {
    left:auto;
    right:0;
    margin-right:-12px;
}
.Read-more a:hover:before,
.Read-more a:hover:after {
    width:100%;
    transition:all 0.6s;
    background:#fff;
    transform:scaleY(5);
    z-index:-1;
}
.Read-more a:hover {
    text-decoration:none;
    background:#062051;
    transition:all 0.6s;
    color:#fff;
    font-family: helvetica;
}
/*top news*/
.top h2{
	color: #062051;
	font-weight: bold;
	font-size: 24px; 
}

.top h3{
	color: #062051;
	font-weight: 400px;
	font-size: 24px; 
}

/*top news*/
.Trending h2{
	color: #062051;
	font-weight: bold;
	font-size: 24px;
}

.Trending h3{
	color: #062051;
	font-weight: 400px;
	font-size: 14px; 
}
.Trending{
	font-size: 12px;
	font-family: helvetica;
	color: #000;
}

.item{
	background-color: #e8e5e1;
}
.videos h1{
	font-size: 24px;
	font-weight: bold;
	color: #062051;
	font-family: helvetica;
}
video{
    background-color: #000;
}

.Rudisha img{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}


.Rudisha img{
    position:relative;
    overflow:hidden;
}
.Rudisha:hover img{
    transform: scale(1.1);
}
img{
    transform: scale(1);
}




.glyphicon{color:#fff;}
.panel{margin-bottom: 0px;}
.panel-body{background-color:#FFF; border:1px solid#062051;}
.top-bar {background: #062051; color: white; padding: 10px; position: relative; overflow: hidden; padding-right:5px;}
.box-position{position: fixed;bottom: 0; width: 100%;}

.btn-success {
    color: #fff;
    background-color: #062051;
    border-color: #70040a;
}
.btn-success:hover {
    color: #fff;
    background-color: #062051;
    border-color: #70040a;
}


/*footer*/
.footer {
    background: #062051;
    /*border-top: 4px solid #fcab0e;*/
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv ul li a {
        color: #fff;
        text-decoration: none;
    }

.footer_dv h4 {
    color: #fff;
    font-family: helvetica;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
/*endfooter*/
#search {
    float: right;
    margin-top: 20px;
    width: 25px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}



/*nav hover style*/
nav ul li a span::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}


nav ul li a span::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
/*img*/
img{
    border: solid 1px #062051;
}
/*all h1*/
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #062051;
}
 h2 {
    font-size: 21px;
}

/*news content*/
.news-content{
	margin-top: 30px;
	background-color: rgba(118,118,118,0.5);
}
/*Trending*/
.news-content img{
    transition: all 0.1s ease;
    -webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    -o-transition: all 0.05s ease;
    -ms-transition: all 0.05s ease;
}


.news-content img{
    position:relative;
    overflow:hidden;
    border: 1px solid #062051;
}
.news-content:hover img{
    transform: scale(1.1);
}
img{
    transform: scale(1);
}

.box :hover{
    border:1px #062051 solid;
	padding:10px 10px 10px;
	box-shadow:1px 1px 10px;

}

.news-featured img{
	border: 1px solid #062051;
}
 nav a {
	position: relative;
	display: inline-block;
	margin: 20px 10px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: transparent;
	font-size: 14px;
}
nav a:hover,
nav a:focus,
nav a:active {
	outline: none;
	color: #fff;
	text-decoration:none; 
}



/* Effect 1: Brackets */
.main-nav a::before,
.main-nav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.main-nav a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.main-nav a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.main-nav a:hover::before,
.main-nav a:hover::after,
.main-nav a:focus::before,
.main-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.trend-1{
	margin-top: 10px;
}

h4{
	padding-top: 10px;
}
.trend-1 img{
	border: 1px solid #062051;
}

/*table*/
div.table-title {
   display: block;
  margin:-10px auto;
  max-width: 500px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 16px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table {
  background: #fff;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
 
th {
  color:#D5DDE5;;
  background:#062051;
  border-bottom:4px solid #062051;
  border-right: 1px solid #062051;
  font-size:18px;
  font-weight: 100;
  padding:20px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #062051;
  border-bottom-: 1px solid #062051;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#062051;
  color:#FFFFFF;
  border-top: 1px solid #062051;
  border-bottom: 1px solid #062051;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #062051;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
video{
    border: 2px #062051 solid;
    background-color: #000;
}

/*contact*/
 h2{
    text-align: left;
    color: #062051;
    font-weight: bolder;
    margin-bottom: 10px;
}

#number{
    text-align: center;
    border-right: 1px solid #062051;
    margin-top: 20px;

}
.contact{
    margin-top: 40px;
}
#number-1{
    text-align: center;
    margin-top: 20px;

}
.about{
    margin-top: 10px;
    margin-bottom: 20px;
}
.map{
    border: solid 1px #062051;
}
.About h2{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}
.About p{
    text-align: center;
}
/*team*/
.content {
    padding-top: 30px;
}

/* Heading */
.heading {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.heading:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -35px;
    margin-left: -25px;
    position: absolute;
    background: #444;
}

.heading h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #444;
}

.heading p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #8693a7;
}

/* Team Members */
.team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.team-members .team-avatar {
    position: relative;
}

.team-members .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.team-members .team-desc {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.team-members .team-desc h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #fff;
}

.team-members .team-desc span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.team-members:hover .team-avatar:after {
    background: rgba(47, 60, 72, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members:hover .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.team-members:hover .team-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
/*advert*/
.advert{
    margin:10px auto;
}

/*icons*/


/*vids*/
.vids{
    border: 1px solid #767676;
}

#icons>ul>li>a{
    padding-right: 15px;
}

#icons{
    padding: 10px;
}

#txt{
    color: #fff;
}
#demo{
    color: #fff;
}
.section-tittle h2 {
    text-transform: uppercase;
    color: #333745;
    font-weight: 600;
}

.section-tittle h2 span {
    color: #ff3546;
}

.section-heading {
    position: relative;
}

.section-heading::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: -10px;
    left: 30%;
    background: #ddd;
    transform: translate(0%);
}
.product-box {
    position: relative;
    box-shadow: 0px 2px 10px -4px #333745;
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.cap-bg-black {
    background: #333745;
}

.cap-bg-red {
    background: red;
}

.cap-bg-theme {
    background: #ff3546;
}

.product-cap {
    position: absolute;
    height: 50px;
    width: 50px;
    color: #fff;
    top: 0;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    font-size: 12px;
    border-radius: 100%;
}

.product-title {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f82e56;
    line-height: 45px;
    transition: all .4s ease-in;
}

.product-title:hover {
    color: #333745;
    transition: all .4s ease-in;
}

.product-price {
    font-size: 17px;
    font-weight: 600;
    line-height: 15px;
    color: #333745;
}

.product-drisc {
    line-height: 18px;
    margin-top: 10px;
}

